{% extends 'webapp/base.html' %}

{% block content %}

<div class="card">
    <strong>
        {{record.first_name}}
        {{record.last_name}}
         
    </strong>
    <div class="card-body">
        <p><strong>ID: </strong>{{record.id}}</p> 
        <p><strong>Email: </strong>{{record.email}}</p> 
        <p><strong>Phone Number: </strong>{{record.phone}}</p> 
        <p><strong>Address: </strong>{{record.address}}</p> 
        <p><strong>City: </strong>{{record.city}}</p> 
        <p><strong>Province: </strong>{{record.province}}</p> 
        <p><strong>Country: </strong>{{record.country}}</p> 
        <p><strong>Record_Creation_Date: </strong>{{record.creation_date}}</p> 
    </div>

    <a href="{% url 'dashboard' %}" class = "btn btn-secondary"> Return </a>
    &nbsp;
    <a href="{% url 'update-record' record.id %}" class = "btn btn-info"> Update Record </a>
    &nbsp;
    <a href="{% url 'delete-record' record.id %}" class = "btn btn-danger"> Delete </a>
</div>

{% endblock %}